		<!-- EVENT overall_footer_content_after -->
	</div>

<!-- EVENT overall_footer_page_body_after -->

<div id="breadcrumb-footer" class="navbar">
	<ul class="linklist">
		<!-- EVENT overall_footer_timezone_before -->
		<li class="rightside">{S_TIMEZONE}</li>
		<!-- EVENT overall_footer_timezone_after -->
		<!-- IF S_USER_LOGGED_IN --><li class="responsive-center time rightside">{CURRENT_TIME}&nbsp;&nbsp;&nbsp;<span class="divider-vertical">|</span></li><!-- ENDIF -->
		<li class="small-icon icon-home breadcrumbs">
		<!-- IF U_SITE_HOME --><span class="crumb"><a href="{U_SITE_HOME}" data-navbar-reference="home">{L_SITE_HOME}</a></span><!-- ENDIF -->
		<!-- EVENT overall_footer_breadcrumb_prepend -->
		<span class="crumb"><a href="{U_INDEX}" data-navbar-reference="index">{L_INDEX}</a></span>
		<!-- EVENT overall_footer_breadcrumb_append -->
		</li>
		<!-- IF U_WATCH_FORUM_LINK and not S_IS_BOT --><li class="small-icon icon-<!-- IF S_WATCHING_FORUM -->unsubscribe<!-- ELSE -->subscribe<!-- ENDIF -->" data-last-responsive="true"><a href="{U_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}" data-ajax="toggle_link" data-toggle-class="small-icon icon-<!-- IF not S_WATCHING_FORUM -->unsubscribe<!-- ELSE -->subscribe<!-- ENDIF -->" data-toggle-text="{S_WATCH_FORUM_TOGGLE}" data-toggle-url="{U_WATCH_FORUM_TOGGLE}">{S_WATCH_FORUM_TITLE}</a></li><!-- ENDIF -->
	</ul>
</div>

<div id="page-footer" class="page-footer" role="contentinfo">

	<!-- Prefooter blocks go below -->

	<div class="copyright">

		<!-- Social links go below -->
		
		<!-- EVENT overall_footer_copyright_prepend -->
		<div class="footer-row">
			<span class="footer-copyright">{{ CREDIT_LINE }}</span>
		</div>
		<!-- IF TRANSLATION_INFO -->
		<div class="footer-row">
			<span class="footer-copyright">{{ TRANSLATION_INFO }}</span>
		</div>
		<!-- ENDIF -->
		<!-- EVENT overall_footer_copyright_append -->
        <div id="pixelgoose-copyright">phpBB 3 Quarto theme by <a title="Premium phpBB Themes" href="//pixelgoose.com/">PixelGoose Studio</a></div>
		<div class="footer-row">
			<a class="footer-link" href="{{ U_PRIVACY }}" title="{{ lang('PRIVACY_LINK') }}" role="menuitem">
				<span class="footer-link-text">{{ lang('PRIVACY_LINK') }}</span>
			</a>
			|
			<a class="footer-link" href="{{ U_TERMS_USE }}" title="{{ lang('TERMS_LINK') }}" role="menuitem">
				<span class="footer-link-text">{{ lang('TERMS_LINK') }}</span>
			</a>
		</div>
		<!-- IF DEBUG_OUTPUT -->
		<div class="footer-row">
			<span class="footer-info">{{ DEBUG_OUTPUT }}</span>
		</div>
		<!-- ENDIF -->
	</div>

	<div id="darkenwrapper" class="darkenwrapper" data-ajax-error-title="{L_AJAX_ERROR_TITLE}" data-ajax-error-text="{L_AJAX_ERROR_TEXT}" data-ajax-error-text-abort="{L_AJAX_ERROR_TEXT_ABORT}" data-ajax-error-text-timeout="{L_AJAX_ERROR_TEXT_TIMEOUT}" data-ajax-error-text-parsererror="{L_AJAX_ERROR_TEXT_PARSERERROR}">
		<div id="darken" class="darken">&nbsp;</div>
	</div>

	<div id="phpbb_alert" class="phpbb_alert" data-l-err="{L_ERROR}" data-l-timeout-processing-req="{L_TIMEOUT_PROCESSING_REQ}">
		<a href="#" class="alert_close">
			<i class="icon fa-times-circle fa-fw" aria-hidden="true"></i>
		</a>
		<h3 class="alert_title">&nbsp;</h3><p class="alert_text"></p>
	</div>
	<div id="phpbb_confirm" class="phpbb_alert">
		<a href="#" class="alert_close">
			<i class="icon fa-times-circle fa-fw" aria-hidden="true"></i>
		</a>
		<div class="alert_text"></div>
	</div>
</div>
<div id="page-footer-links">
	<ul class="nav-footer linklist" role="menubar">
		<!-- IF U_ACP --><li class="rightside"><a href="{U_ACP}"><i class="icon fa-cogs fa-fw" aria-hidden="true"></i>{L_ACP}</a></li><!-- ENDIF -->
		<!-- IF not S_IS_BOT -->
			<li><a href="{U_DELETE_COOKIES}" data-ajax="true" data-refresh="true" role="menuitem"><i class="icon fa-cogs fa-fw" aria-hidden="true"></i>{L_DELETE_COOKIES}</a></li>
			<!-- IF S_DISPLAY_MEMBERLIST --><li data-last-responsive="true"><a href="{U_MEMBERLIST}" title="{L_MEMBERLIST_EXPLAIN}" role="menuitem"><i class="icon fa-group fa-fw" aria-hidden="true"></i>{L_MEMBERLIST}</a></li><!-- ENDIF -->
		<!-- ENDIF -->
		<!-- EVENT overall_footer_teamlink_before -->
		<!-- IF U_TEAM --><li data-last-responsive="true"><a href="{U_TEAM}" role="menuitem"><i class="icon fa-shield fa-fw" aria-hidden="true"></i>{L_THE_TEAM}</a></li><!-- ENDIF -->
		<!-- EVENT overall_footer_teamlink_after -->
		<!-- IF U_CONTACT_US --><li data-last-responsive="true"><a href="{U_CONTACT_US}" role="menuitem"><i class="icon fa-envelope fa-fw" aria-hidden="true"></i>{L_CONTACT_US}</a></li><!-- ENDIF -->
	</ul>
</div>

</div>

<div class="cron-block">
	<a id="bottom" class="anchor" accesskey="z"></a>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

<script src="{T_JQUERY_LINK}"></script>
<!-- IF S_ALLOW_CDN --><script>window.jQuery || document.write('\x3Cscript src="{T_ASSETS_PATH}/javascript/jquery-3.5.1.min.js?assets_version={T_ASSETS_VERSION}">\x3C/script>');</script><!-- ENDIF -->
<script src="{T_ASSETS_PATH}/javascript/core.js?assets_version={T_ASSETS_VERSION}"></script>
<!-- INCLUDEJS forum_fn.js -->
<!-- INCLUDEJS ajax.js -->
<!-- IF S_ALLOW_CDN -->
	<script>
		(function($){
			var $fa_cdn = $('head').find('link[rel="stylesheet"]').first(),
				$span = $('<span class="fa" style="display:none"></span>').appendTo('body');
			if ($span.css('fontFamily') !== 'FontAwesome' ) {
				$fa_cdn.after('<link href="{T_ASSETS_PATH}/css/font-awesome.min.css" rel="stylesheet">');
				$fa_cdn.remove();
			}
			$span.remove();
		})(jQuery);
	</script>
<!-- ENDIF -->
<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
<!-- INCLUDEJS quarto_login_popup.js -->
<!-- ENDIF -->

<!-- IF S_USER_LOGGED_IN and not S_IS_BOT -->
<!-- INCLUDEJS quarto_common.js -->
<!-- ENDIF -->
<!-- IF S_COOKIE_NOTICE -->
	<script src="{T_ASSETS_PATH}/cookieconsent/cookieconsent.min.js?assets_version={T_ASSETS_VERSION}"></script>
	<script>
		if (typeof window.cookieconsent === "object") {
			window.addEventListener("load", function(){
				window.cookieconsent.initialise({
					"palette": {
						"popup": {
							"background": "#0F538A"
						},
						"button": {
							"background": "#E5E5E5"
						}
					},
					"theme": "classic",
					"content": {
						"message": "{LA_COOKIE_CONSENT_MSG}",
						"dismiss": "{LA_COOKIE_CONSENT_OK}",
						"link": "{LA_COOKIE_CONSENT_INFO}",
						"href": "{UA_PRIVACY}"
					}
				});
			});
		}
	</script>
<!-- ENDIF -->

<!-- EVENT overall_footer_after -->

<!-- IF S_PLUPLOAD --><!-- INCLUDE plupload.html --><!-- ENDIF -->
{$SCRIPTS}

<!-- EVENT overall_footer_body_after -->

<!-- IF not S_USER_LOGGED_IN -->
<!-- INCLUDE quarto_login_popup.html -->
<!-- ENDIF -->

</body>
</html>
