@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?8927606');
  src: url('../fonts/fontello.eot?8927606#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?8927606') format('woff'),
       url('../fonts/fontello.ttf?8927606') format('truetype'),
       url('../fonts/fontello.svg?8927606#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.svg?8927606#fontello') format('svg');
  }
}
*/
 
 .social-icons [class^="icon-"]:before, .social-icons [class*=" icon-"]:before {
  font-family: "fontello";
  font-size: 1.846em;
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-dribbble:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-facebook-squared:before { content: '\e802'; } /* '' */
.icon-flickr:before { content: '\e803'; } /* '' */
.icon-foursquare:before { content: '\e804'; } /* '' */
.icon-github:before { content: '\e805'; } /* '' */
.icon-github-squared:before { content: '\e806'; } /* '' */
.icon-gplus:before { content: '\e807'; } /* '' */
.icon-gplus-squared:before { content: '\e808'; } /* '' */
.icon-instagramm:before { content: '\e809'; } /* '' */
.icon-linkedin-squared:before { content: '\e80a'; } /* '' */
.icon-linkedin:before { content: '\e80b'; } /* '' */
.icon-pinterest-circled:before { content: '\e80c'; } /* '' */
.icon-pinterest-squared:before { content: '\e80d'; } /* '' */
.icon-tumblr:before { content: '\e80e'; } /* '' */
.icon-tumblr-squared:before { content: '\e80f'; } /* '' */
.icon-twitch:before { content: '\e810'; } /* '' */
.icon-twitter:before { content: '\e811'; } /* '' */
.icon-twitter-squared:before { content: '\e812'; } /* '' */
.icon-vkontakte:before { content: '\e813'; } /* '' */
.icon-weibo:before { content: '\e814'; } /* '' */
.icon-xing:before { content: '\e815'; } /* '' */
.icon-xing-squared:before { content: '\e816'; } /* '' */
.icon-youtube:before { content: '\e817'; } /* '' */
.icon-youtube-squared:before { content: '\e818'; } /* '' */
.icon-vimeo-squared:before { content: '\e819'; } /* '' */